usuario:
    resource: "@UsuarioBundle/Resources/config/routing.yml"
    prefix:   /

tienda:
    resource: "@TiendaBundle/Resources/config/routing.yml"
    prefix:   /

ciudad:
    resource: "@CiudadBundle/Resources/config/routing.yml"
    prefix:   /

oferta:
    resource: "@OfertaBundle/Resources/config/routing.yml"
    prefix:   /

pagina_estatica:
    path: /sitio/{pagina}
    defaults: { _controller: OfertaBundle:Sitio:estatica }
    
_pagina_estatica:
    path: /sitio/{pagina}/
    defaults: { _controller: FrameworkBundle:Redirect:redirect, route: pagina_estatica, permanent: true }
    
_paginas_estaticas:
    resource: routing_paginas.yml
    prefix: /pagina
    defaults: { _controller: FrameworkBundle:Template:template }
    
    
_pagina_ayuda:
    path: /pagina/ayuda/
    defaults: { _controller: FrameworkBundle:Redirect:redirect, route: pagina_ayuda, permanent: true }
    
_pagina_privacidad:
    path: /pagina/privacidad/
    defaults: { _controller: FrameworkBundle:Redirect:redirect, route: pagina_privacidad, permanent: true }
    
_pagina_condiciones:
    path: /pagina/terminos-y-condiciones/
    defaults: { _controller: FrameworkBundle:Redirect:redirect, route: pagina_condiciones, permanent: true }
    
#pagina_ayuda:
#    path: /ayuda
#    defaults: { _controller: FrameworkBundle:Template:template, template: 'OfertaBundle:Sitio:ayuda.html.twig' }


# Ruta completa de la portada (con el slug de la ciudad)
portada:
    path: /{ciudad}
    defaults: { _controller: OfertaBundle:Default:portada, ciudad: null}

# Ruta simple de la portada
_portada:
    path: /
    defaults: { _controller: FrameworkBundle:Redirect:redirect, route: portada, ciudad: '%cupon.ciudad_por_defecto%'}
    #defaults: { _controller: OfertaBundle:Default:portada}
    
    
    